<div class="footer">
  <div class="social-media-links text-right">
    <a class="social-media-icon" href="https://www.etsy.com/shop/SouthernArtSoap"><i class="fab fa-etsy"></i></a>
    <a class="social-media-icon" href="https://www.instagram.com/southernartsoap/"><i class="fab fa-instagram"></i></a>
  </div>

  <div class="d-flex justify-content-between text-center">
    <span>&copy; 2020 Southern Art Soap</span>
    <div class="footer-links">
      <a href="faq">FAQ</a> |
      <a href="policies">Policies</a>
    </div>
  </div>
</div>