<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400&sfamily=Raleway:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">  
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/> 
<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}" type="text/css"/>
<link rel="stylesheet" th:href="@{/css/custom.css}" type="text/css"/>