/* COLORS
	- JUICY STRAWBERRY	 #C31644
	- STRAWBERRY GELATO	 #EE7B71
	- STRAWBERRY CREAM 	 #F9BDB5
	- VANILLA 			     #F7E3C7
	- CHOCOLATE CREAM  	 #B48967
	- CHOCOLATE GANACHE  #432B27
*/

/* FONTS
	- DEFAULT/BODY  Raleway, sans-serif
  - BRAND         Elsie Swash Caps, cursive;
  - HEADINGS      Playfair Display, serif
*/

/* === GLOBAL SETTINGS === */
*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "Raleway", sans-serif;
  height: 100vh;
}

.container,
.container-fluid {
  margin-bottom: 1em;
  margin-top: 1em;
}

.hero {
  background-image: url("../img/isbl_1680x420.36780233_89m48x0x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

/* === TYPOGRAPHY === */
h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-family: Playfair Display, serif;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 1em;
	font-weight: 600;
}

/* === NAVBAR === */
.navbar {
  background-color: #c31644;
  border-radius: 0;
}

.navbar-top {
  background-color: #fff;
  height: 6.875rem;
}
.navbar-top a {
  color: #c31644;
}

.navbar-brand {
  font-family: "Elsie Swash Caps", cursive;
  font-size: 3.5em;
  color: #fff;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.navbar-brand:hover {
  color: #c31644;
}

.nav-link {
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #f9bdb5;
}

.breadcrumb {
	background-color: transparent;
	border-radius: 0;
}

/* === PRODUCT CARDS === */
.custom-card .card {
	border:0;
	margin-bottom: .5em;
}

.custom-card .card-body {
	padding: 0;
}

.custom-card img {
	max-height: 150px;
	object-fit: cover;
}

.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* === HOMEPAGE === */
.card-deck img.card-img-top {
	max-height: 200px;
    min-height: 350px;
    object-fit: cover;
}

.card-deck .card-title {
	color: #232323;
	font-weight: 700;
}

/* === PRODUCT PAGE === */

.img-thumbnail {
	border: 0;
	border-radius: 0;
	padding: 0;
}

ol {
	list-style: none;
}

.p-description {
  white-space: pre-line;
}

/* === SHOPPING CART === */
.img-thumbnail {
  height: 72px;
  object-fit: contain;
  width: 72px;
}

/* === FOOTER === */
.footer {
  background-color: #c31644;
  color: #fff;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.031em;
  padding: 3em 3.125%;
}

.footer a {
  color: #fff;
}

.social-media-icon {
  font-size: 2em;
  padding-left: 0.5rem;
}
