/* COLORS
	- JUICY STRAWBERRY	 #C31644
	- STRAWBERRY GELATO	 #EE7B71
	- STRAWBERRY CREAM 	 #F9BDB5
	- VANILLA 			     #F7E3C7
	- CHOCOLATE CREAM  	 #B48967
  - CHOCOLATE GANACHE  #432B27
  - #f9a79b
  - #fbcbb7
  - #d9eedb
  - #9ce5de
  - #05aba9
*/

/* FONTS
	- DEFAULT/BODY  Raleway, sans-serif
  - BRAND         Elsie Swash Caps, cursive;
  - HEADINGS      Josefin Sans, serif
*/

/* === GLOBAL SETTINGS === */
*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
}

.container,
.container-fluid {
  margin-bottom: 1em;
  margin-top: 1em;
}

.hero {
  background-image: url("../img/isbl_1680x420.36780233_89m48x0x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

a {
  color: #05aba9;
}

/* === STRIPE PAY BUTTON === */
button.stripe-button-el,
button.stripe-button-el span,
button.stripe-button-el:active,
button.stripe-button-el:active span,
button.stripe-button-el:not(:disabled):active,
button.stripe-button-el:not(:disabled):active span {
  color: #fff;
  background-color: #333 !important;
  background-image: none !important;
  border-color: #000 !important;
  box-shadow: none !important;
  cursor: pointer !important;
  padding: 6px 12px !important;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  border-radius: 4px !important;
  margin-bottom: 0 !important;
  font-weight: 400 !important;
  text-align: center !important;
  white-space: nowrap !important;
}

/* === TYPOGRAPHY === */
h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-family: Ibarra Real Nova;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 1.25em;
  font-weight: 600;
}

/* p {
font-family: Quicksand
} */



/* === NAVBAR === */
.navbar {
  background-color: #fff;
  border-radius: 0;
  font-family: "Josefin Sans";
  height: 6.875rem;
}

.navbar-brand {
  font-family: "Glass Antiqua", cursive;
  font-size: 3.5em;
  color: #c31644;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.navbar-brand:hover {
  color: #c31644;
}

.nav-link {
  color: #c31644;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #f9bdb5;
}

#navbar-search {
  background-color: transparent;
}

.breadcrumb {
  background-color: transparent;
  border-radius: 0;
}

/* === PAGINATION === */
.pagination > .page-item > .page-link,
.pagination > .page-item > .page-link {
  background-color: #fff;
  border-color: transparent;
  color: #432b27;
  font-weight: 700;
  
  margin-right: 5px;
}

/* === PRODUCT CARDS === */
.custom-card .card {
  border: 0;
  margin-bottom: 0.5em;
}

.custom-card .card-body {
  padding: 0;
}

.custom-card img {
  border-radius: 15px;
  max-height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* === HOMEPAGE === */
.card-deck .card {
  border-color: transparent;
  border-radius: 15px;
  color: #fff;
  position: relative;
}
.card-deck img.card-img-top {
  border-radius: 15px;
  max-height: 200px;
  min-height: 350px;
  object-fit: cover;
}

.card-img-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  border-radius: 15px;
  bottom: 0;
  height: 50%;
  position: absolute;
  top: initial;
  width: 100%;
}

.card-deck .card-title {
  font-family: "Playfair Display", serif;
  font-size: 1.9em;
  font-style: italic;
  font-weight: 700;
}

.card-link {
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
}

/* === PRODUCT PAGE === */

.carousel-item img {
  max-height: 400px;
  object-fit: contain;
}

.img-thumbnail {
  border: 0;
  border-radius: 0;
  padding: 0;
}

ol {
  list-style: none;
}

.p-description {
  white-space: pre-line;
}

.btn-primary {
	background-color: #05aba9;
	}


/* === SHOPPING CART === */
.img-thumbnail {
  height: 72px;
  object-fit: contain;
  width: 72px;
}

/* === FOOTER === */
.footer {
  background-color: #c31644;
  color: #fff;
  font-family: "Josefin Sans", serif;
  letter-spacing: 0.031em;
  padding: 3em 3.125%;
}

.footer a {
  color: #fff;
}

.social-media-icon {
  font-size: 2em;
  padding-left: 0.5rem;
}
