/* boostrap tweaks */

#navbar-custom {
    background-color: grey;
/*    color: red;
    a{
        color: red;
    }   doesn't override bootstrap styling on the <a> tags for some reason' */
}

.navbar-link {
    color: black;
}

#navbar-search{
    margin-top: 5px;
}

body{
    margin-left: 2%;
    margin-right: 2%;
}

