<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>About Us | Southern Art Soap</title>
    <div th:replace="fragments/head"></div>
  </head>
  <body>
    <div th:replace="fragments/navbar"></div>
    <div class="container w-50">
      <h2 class="pb-4">About Us</h2>
      <p>
        Hello! Southern Art Soap was established in 2019 by Tatiana Churzin, a soap-making hobbyist who lives in the beautiful green state of North
        Carolina. Her other favorite hobby is baking delicious desserts.
      </p>
      <p>Please shop with confidence. We want to make your shopping experience as happy as possible. Thank you for visiting!</p>
    </div>
    <div th:replace="fragments/footer"></div>
    <div th:replace="fragments/scripts"></div>
  </body>
</html>
