<!DOCTYPE html>
<html>
  <head>
    <title>Cart | Southern Art Soap</title>
    <div th:replace="fragments/head"></div>
  </head>
  <body>
    <div th:replace="fragments/navbar"></div>
    <div class="container-fluid">
      <h2>Shopping Cart</h2>
      <div class="row">
        <div class="col-8">
          <div th:if="${cartDetailses.isEmpty()==true}">
            <h1>Your cart is empty</h1>
          </div>
          <table th:if="${cartDetailses.isEmpty()==false}" class="table table-hover">
            <thead>
              <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th class="text-center">Price</th>
                <th class="text-center">Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <h1 th:text="${cartDetailses[0]}"></h1>
              <!-- <h1 th:text="${cartDetailses.length}"></h1> -->
              <!-- <h1 th:text="${images[0]}"></h1> -->
            <!-- TH to loop on cart details goes here   -->
            <div th:each="cartDetails :${cartDetailses}">
              <tr>
                <td class="col-8">
                  <div class="media">
                    <a class="thumbnail pull-left" href="#">
                      <!--appending Stat.index to a value in a thymeleaf for each loop gives the index value   -->
                      <img class="media-image img-thumbnail" src="" /> 
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading"><a href="#">Soap</a></h4>
                    </div>
                  </div>
                </td>
                <td class="col-sm-1 col-md-1">
                  <input type="email" class="form-control text-center" value="3" />
                </td>
                <td class="col-sm-1 col-md-1 text-center">$9.99</td>
                <td class="col-sm-1 col-md-1 text-center">$99.99</td>
                <td class="col-sm-1 col-md-1">
                  <button type="button" class="btn btn-primary"><i class="fas fa-sync-alt"></i></button>

                  <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                </td>
              </tr>
              <!--  end of loop  -->
            </div>
            </tbody>
          </table>
        <div class="col">
          <div class="pt-4">
            <h5 class="mb-3">The total amount of</h5>

            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                Temporary amount
                <span>$25.98</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                Shipping
                <span>Gratis</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>The total amount of</strong>
                </div>
                <span><strong>$9999.99</strong></span>
              </li>
            </ul>

            <button type="button" class="btn btn-primary btn-block mb-2">Checkout</button>
            <a class="d-block text-center" href="/">Continue Shopping</a>
          </div>
        </div>
      </div>
    </div>
    <div th:replace="fragments/footer"></div>
    <div th:replace="fragments/scripts"></div>
  </body>
</html>
