<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Shop | Southern Art Soap</title>
    <div th:replace="fragments/head"></div>
  </head>
  <body>
    <div th:replace="fragments/navbar"></div>
    <div class="container">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a th:href="@{/products}">All Soaps</a></li>
              <li class="breadcrumb-item active text-capitalize" aria-current="page" th:if="${category}" th:text="${category}"></li>
            </ol>
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <!-- list of filters. It's needed to be done O_o -->
          <div class="list-group list-group-flush" th:each="category : ${categories}">
            <a th:href="@{/products/filter (category=${category})}" class="list-group-item list-group-item-action" th:text="${category}"></a>
          </div>
        </div>

        <!-- product cards block, three in a row-->
        <div class="col-9">
          <div class="row">
            <!-- Sort by if we want to do that-->
          </div>

          <div class="row">
            <div class="col-4" th:each="item : ${products}">
              <a th:href="@{/products/{id} (id=${item.id})}" class="custom-card">
                <div class="card text-dark">
                  <img class="card-img-top" th:src="'/img/' + ${item.image[0].imgPath}" alt="Card image cap" />
                  <div class="card-body">
                    <h4 class="card-title truncate" th:text="${item.name}"></h4>
                    <h5 class="card-title" th:text="'$' + ${#numbers.formatDecimal(item.price, 0, 'COMMA', 2, 'POINT')}"></h5>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <ul class="pagination">
            <li class="page-item">
              <a class="page-link rounded-circle" th:if="${currentPage > 1}" th:href="@{/products (page=${currentPage - 1})}" aria-label="Previous"
                ><i class="fas fa-angle-left"></i
              ></a>
              <span class="page-link rounded-circle active" th:unless="${currentPage > 1}" aria-label="Previous"
                ><i class="fas fa-angle-left"></i
              ></span>
            </li>
            <th:block th:each="i: ${#numbers.sequence(1, totalPages)}">
              <li class="page-item">
                <a class="page-link rounded-circle" th:if="${currentPage != i}" th:href="@{/products (page=${i})}">[[${i}]]</a>
                <span class="page-link rounded-circle active" th:unless="${currentPage != i}">[[${i}]]</span>
              </li>
            </th:block>
            <li class="page-item">
              <a
                class="page-link rounded-circle"
                th:if="${currentPage < totalPages}"
                th:href="@{/products (page=${currentPage + 1})}"
                aria-label="Next"
                ><i class="fas fa-angle-right"></i
              ></a>
              <span class="page-link rounded-circle active" th:unless="${currentPage < totalPages}" aria-label="Next"
                ><i class="fas fa-angle-right"></i
              ></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div th:replace="fragments/footer"></div>
    <div th:replace="fragments/scripts"></div>
  </body>
</html>
