<!DOCTYPE html>
<html>
<head>

  <!-- Bootstrap -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title></title>
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">All soap</a></li>
            <li class="breadcrumb-item active" aria-current="page">Baby shower</li>
          </ol>
        </nav>

      </div>

    </div>
    

    <div class="row">
      <div class="col-3">
        <!-- list of filters. It's needed to be done O_o-->
        <div class="list-group list-group-flush">
          <a href="#" class="list-group-item list-group-item-action">
          All soap</a>


          <a href="#" class="list-group-item list-group-item-action active">Baby Shower</a>

          <a href="#" class="list-group-item list-group-item-action">Teen stoking soap</a>

          <a href="#" class="list-group-item list-group-item-action">Wedding</a>
          <a href="#" class="list-group-item list-group-item-action">Flowers</a>
          <a href="#" class="list-group-item list-group-item-action">Fall season</a>
          <a href="#" class="list-group-item list-group-item-action" tabindex="-1" aria-disabled="true">Christmas</a>

        </div>





      </div>
      

      <!-- product cards block, three in a row-->
      <div class="col-9">

        <div class="row">
          <!-- Sort by if we want to do that-->
        </div>



        <div class="row">


          <div class="col-4">
            <a href="" class="custom-card">
              <div class="card text-dark" >
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <!-- Instesd of Soap title should be query to db? -->
                  <h4 class="card-title">Soap title</h4>
                  <!-- Instesd of Listed price should be query to db? -->
                  <h5 class="card-title">$2.50</h5>
                </div>
              </div>
            </a>
          </div>

          <div class="col-4">
            <a href="" class="custom-card">
              <div class="card text-dark" >
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Soap title</h4>
                  <h5 class="card-title">$2.50</h5>
                </div>
              </div>
            </a>
          </div>

          <div class="col-4">
            <a href="" class="custom-card">
              <div class="card text-dark" >
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Soap title</h4>
                  <h5 class="card-title">$2.50</h5>
                </div>
              </div>
            </a>
          </div>

        </div>
<br>
        <div class="row">


          <div class="col-4">
            <a href="" class="custom-card">
              <div class="card text-dark" >
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Soap title</h4>
                  <h5 class="card-title">$2.50</h5>
                </div>
              </div>
            </a>
          </div>

          <div class="col-4">
            <a href="" class="custom-card">
              <div class="card text-dark" >
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Soap title</h4>
                  <h5 class="card-title">$2.50</h5>
                </div>
              </div>
            </a>
          </div>

          <div class="col-4">
            <a href="" class="custom-card">
              <div class="card text-dark" >
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Soap title</h4>
                  <h5 class="card-title">$2.50</h5>
                </div>
              </div>
            </a>
          </div>

        </div>
<br>
        <div class="row">


          <div class="col-4">
            <a href="" class="custom-card">
              <div class="card text-dark" >
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Soap title</h4>
                  <h5 class="card-title">$2.50</h5>
                </div>
              </div>
            </a>
          </div>

          <div class="col-4">
            <a href="" class="custom-card">
              <div class="card text-dark" >
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Soap title</h4>
                  <h5 class="card-title">$2.50</h5>
                </div>
              </div>
            </a>
          </div>

          <div class="col-4">
            <a href="" class="custom-card">
              <div class="card text-dark" >
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Soap title</h4>
                  <h5 class="card-title">$2.50</h5>
                </div>
              </div>
            </a>
          </div>

        </div>



</div>







<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>