<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Southern Art Soap</title>
    <div th:replace="fragments/head"></div>
  </head>
  <body>
    <div th:replace="fragments/navbar"></div>
    <div class="hero"></div>
    <div class="container">
      <div class="introduction">
        <h2>Welcome</h2>
        <p>
          Welcome to Southern Art Soap! Here you will find the perfect soap party favor for baby showers, wedding showers, birthday partys or for a
          gag/novelty gift or stocking stuffer. My goal was to be able to offer a special and unique gift that will bring joy to you or your
          friends and family when they opened their special package. Each product is handmade and unique and will look as close as possible to the
          images on the site. Message me and let me know how I can help you!
        </p>
        <p>
          All our artisan soaps are handcrafted with care and made in small batches.
        </p>
      </div>
      <div class="card-deck">
        <div class="card" style="width: 18rem">
          <img class="card-img-top" th:src="@{/img/il_794xN.2109651328_nh3c.jpg}" alt="baby shower soap favor" />
          <div class="card-img-overlay">
            <h2 class="card-title">It's a Baby!</h2>
             <p class="card-text">Check out our baby shower collection of soap favors.</p>
            <a th:href="@{/products/filter?category=baby shower}" class="card-link float-right stretched-link">Shop Now</a>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <img class="card-img-top" th:src="@{/img/il_794xN.2157325731_1bzq.jpg}" alt="stocking stuffer soap favor" />
          <div class="card-img-overlay">
            <h2 class="card-title">Spread Holiday Cheer</h2>
            <p class="card-text">Check out our holiday collection of soap favors.</p>
            <a th:href="@{/products/filter?category=holidays}" class="card-link float-right stretched-link">Shop Now</a>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <img class="card-img-top" th:src="@{/img/il_794xN.1948648701_8mxz.jpg}" alt="novelty soap favor" />
          <div class="card-img-overlay">
            <h2 class="card-title">Have Some Fun</h2>
            <p class="card-text">Check out our novelty/gag gift collection of soap favors.</p>
            <a th:href="@{/products/filter?category=novelty/gag gift}" class="card-link float-right stretched-link">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
    <div th:replace="fragments/footer"></div>
    <div th:replace="fragments/scripts"></div>
  </body>
</html>
