<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <html>
    <head>
      <title>Product | Southern Art Soap</title>
      <div th:replace="fragments/head"></div>
    </head>
    <body>
      <header>
        <div th:replace="fragments/navbar"></div>
      </header>

      <div class="container">
        <div class="row">
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/products}">All Soaps</a></li>
                <li class="breadcrumb-item text-capitalize"><a th:href="@{/products/filter (category=${category})}" th:text="${category}"></a></li>
                <li class="breadcrumb-item active" aria-current="page" th:text="${product.name}"></li>
              </ol>
            </nav>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <!-- images: one big on top, four under-->
            <div class="row">
              <div class="col">
                <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false">
                  <div class="carousel-inner">
                    <th:block th:each="image, iterStat : ${images}">
                      <div class="carousel-item" th:classappend="${iterStat.first}? 'active'">
                        <img class="d-block w-100" th:src="'/img/' + ${image.imgPath}" alt="First slide" />
                      </div>
                    </th:block>
                  </div>
                  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
              <th:block th:each="image, iterStat : ${images}">
                <ol class="col">
                  <li class="img" data-target="#carousel" th:attr="data-slide-to=${iterStat.index}">
                    <img th:src="'/img/' + ${image.imgPath}" th:attr="alt=${product.name}" class="img-thumbnail" />
                  </li>
                </ol>
              </th:block>
            </div>
          </div>

          <!-- Description block with CTA-->
          <div class="col-6">
            <div>
              <div>
                <h4 th:text="${product.name}"></h4>
              </div>

              <div>
                <h5 th:text="'$' + ${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}"></h5>
              </div>

              <br />
              <div>
                <p>Description</p>
                <p class="p-description" th:text="${product.description}"></p>
              </div>
            </div>
            <br />
            <div class="row">
              <p>Scent</p>
              <select class="browser-default custom-select">
                <option selected>Choose a scent</option>
                <option value="chocolate">chocolate</option>
                <option value="coconut">coconut</option>
                <option value="lavender">lavender</option>
                <option value="lemon">lemon</option>
                <option value="oatmeal & honey">oatmeal & honey</option>
                <option value="orange">orange</option>
                <option value="peony">peony</option>
                <option value="peppermint">peppermint</option>
                <option value="pineapple">pineapple</option>
                <option value="pumpkin spice">pumpkin spice</option>
                <option value="rose">rose</option>
                <option value="vanilla">vanilla</option>
              </select>
            </div>
            <br />
            <div class="row">
              <p>Color</p>
              <select class="browser-default custom-select">
                <option selected>Choose a color</option>
                <option value="black">black</option>
                <option value="blue">blue</option>
                <option value="green">green</option>
                <option value="orange">orange</option>
                <option value="pastel blue">pastel blue</option>
                <option value="pastel pink">pastel pink</option>
                <option value="pastel purple">pastel purple</option>
                <option value="purple">purple</option>
                <option value="red">red</option>
                <option value="rose gold">rose gold</option>
                <option value="white">white</option>
                <option value="yellow">yellow</option>
              </select>
            </div>
            <br />
            <div class="row">
              <!-- I tryed to implement input spinner, but failed. Going to wishlist-->
              <p>Quantity</p>
              <select class="browser-default custom-select">
                <option selected>1</option>
                <!-- Connect tags -->
                <option value="1">2</option>
                <option value="2">3</option>
                <option value="3">4</option>
                <option value="4">5</option>
                <option value="5">6</option>
                <option value="6">7</option>
                <option value="7">8</option>
              </select>
            </div>
            <br />
            <br />
            <div class="row">
              <button type="button" class="btn btn-dark btn-lg btn-block">Add to cart</button>
            </div>
          </div>
        </div>
      </div>

      <div th:replace="fragments/footer"></div>
      <div th:replace="fragments/scripts"></div>
    </body>
  </html>
</html>