<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Search Results | Southern Art Soap</title>
    <div th:replace="fragments/head"></div>
  </head>
  <body>
    <div th:replace="fragments/navbar"></div>
    <div class="container">
      <h2 class="pb-4">Search Results <span th:if="${query}" th:text="'for ' + ${query}"></span></h2>
      <div class="row">
            <div class="col-3" th:each="item : ${results}">
              <a th:href="@{/products/{id} (id=${item.id})}" class="custom-card">
                <div class="card text-dark">
                  <img class="card-img-top" th:src="'/img/' + ${item.image[0].imgPath}" alt="Card image cap" />
                  <div class="card-body">
                    <h4 class="card-title truncate" th:text="${item.name}"></h4>
                    <h5 class="card-title" th:text="'$' + ${#numbers.formatDecimal(item.price, 0, 'COMMA', 2, 'POINT')}"></h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-4" th:if="${#lists.isEmpty(results)}">
            	<p>There is nothing to see here.</p>
            </div>
          </div>
    </div>
    <div th:replace="fragments/footer"></div>
    <div th:replace="fragments/scripts"></div>
  </body>
</html>